.categorylist {
    width: 600px;
    margin: 0 auto;
}

.categoryForm {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    width: 600px;
}

.formgrid__add {
    display: flex;
    align-items: center;
    margin: 13px 0;;
}

#formgrid__input {
    height: 21.6px;
}

